.weather-viewing-container {
  height: 100%;
  background-image: url("/assets/icons/weather-forecasting/background.png");
  background-size: 100% 100%;
  padding: 40px 9.5%;
  box-sizing: border-box;
  overflow: auto;
}

header {
  justify-content: space-between;
  margin-bottom: 170px;

  .instaweather-title {
    font-weight: bold;
    font-size: 36px;
    color: #ffffff;
  }

  .temperature-measurement {
    height: 100%;
    width: 76px;
    background-color: transparent;
    font-weight: 600;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    cursor: pointer;
    transition: background 0.5s;

    &.active-measurement {
      background-color: rgba(255, 255, 255, 0.25);
    }
  }

  .vertical-separator {
    border: 0.5px solid #ffffff;
  }
}

.font-awesome-icon-container {
  font-size: 70px;
  margin: 0;
}

main {
  justify-content: space-between;
  margin-bottom: 65px;

  section {
    .current-city,
    .current-date,
    .short-summary,
    .current-temperature,
    .high-low-temperature,
    .summary-today {
      font-weight: bold;
      color: #ffffff;
    }

    .current-city {
      font-size: 64px;
      margin-bottom: 15px;
    }

    .current-date {
      font-size: 20px;
      margin-bottom: 15px;
    }

    .short-summary {
      font-size: 30px;
    }

    .current-temperature {
      font-size: 144px;
      margin-inline-start: auto;
    }

    .high-low-temperature {
      font-weight: 400 !important;
      font-size: 48px;
      margin-bottom: 20px;
      margin-inline-start: auto;
    }

    .summary-today {
      font-size: 24px;
    }
  }
}
