.hourly-daily-weather-forecast-container {
}

header {
  width: 100%;
  border-bottom: 0.5px solid #ffffff;
  padding-bottom: 10px;

  .tab {
    font-size: 22px;
    color: #ffffff;
    margin-inline-end: 50px;
    padding-bottom: 10px;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.5s;

    &.active-tab {
      border-bottom: 2px solid #ffffff;
      opacity: 1;
    }
  }
}

main {
  overflow-x: auto;
  padding: 10px 0;

  section {
    margin-inline-end: 80px;

    span {
      text-align: center;
      justify-content: center;
      white-space: nowrap;
    }

    .temperature-date-title {
      font-size: 24px;
      color: #ffffff;
      margin-bottom: 10px;
    }

    .temp-icon {
      height: 66px;
      width: 66px;
    }

    .temperature-value {
      font-size: 36px;
      color: #ffffff;
      margin-top: 25px;

      @media screen and (max-width: 992px) {
        font-size: 28px;
        margin-top: 15px;
      }
    }
  }
}
